@using Site.Models.Resources
@model Site.Models.PageModels.AddEntryPageModel
@{ 
    ViewData["Title"] = "Add Entry Page";
}

<div class="container bg-transparent">
    <div class="card bg-transparent" style="width:100%">

        @{
            using (Html.BeginForm("AddEntry", "Home", FormMethod.Post))
            {
                @Html.TextBoxFor(x => x.EName)
                <br />
                <br />
                @Html.TextAreaFor(x => x.EContent)
                <br />
                <br />
                List<CategoryDto> categories = (List<CategoryDto>)TempData["Categories"];
                @Html.DropDownListFor(x => x.CategoryId, new SelectList(categories, "CategoryId", "CategoryName"))
                <br />
                <br />
                <button class="btn btn-primary" type="submit">Submit</button>
            }
        }
    </div>
</div>
